@import "../abstracts/variables";

/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * HTML base styles
 */
html {
  font-size: $font-size-base;
  min-height: 100vh;

  @media screen and (min-width: $bp-med) {
    font-size: 30px;
  }
}

/**
 * Body base styles
 */
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: $font-family-primary;
  line-height: $line-height-text;
  background-color: $color-body-bg;
  color: $color-body-text;
}
