<div class="c-weather l-vertical" [ngClass]="widgetTheme()">
  <div class="c-top-bar c-top-bar--with-action">
    <div class="c-top-bar__text">
      {{ weather.cityName }},
      {{ weather.date | dfnsFormat: "d/MM, HH:MM" }}
    </div>
    <app-button onClick="getWeather"></app-button>
  </div>
  <div class="c-weather__primary">
    <div class="c-temperature-indicator">
      <div class="c-temperature-indicator__icon">
        <img [src]="weather.iconUrl" />
      </div>
      <span class="c-temperature-indicator__current"
        >{{ weather.temperature.current | number: "1.0-0" }}°</span
      >
      <span class="c-temperature-indicator__feelslike">{{
        weather.temperature.feelsLike | number: "1.0-0"
      }}</span>
    </div>

    <span class="c-weather-status">{{ weather.description }}</span>
  </div>
  <div class="c-weather__secondary">
    <app-measure name="thermometer"> {{ minMaxTemp() }}° </app-measure>

    <app-measure name="humidity">
      {{ weather.humidity
      }}<span class="c-weather-measure__value-smaller">%</span>
    </app-measure>

    <app-measure name="barometer">
      {{ weather.pressure
      }}<span class="c-weather-measure__value-smaller">Hpa</span>
    </app-measure>

    <app-measure name="cloud">
      {{ weather.clouds
      }}<span class="c-weather-measure__value-smaller">%</span>
    </app-measure>
  </div>
</div>
