@import "../abstracts/variables";

.c-weather {
  color: $color-neutral-black;
  background: $color-neutral-white;
}

.c-weather--morning {
  color: $color-morning-20;
  background: $gradient-morning;

  .c-temperature-indicator {
    &__feelslike {
      color: $color-morning-25;
    }
  }

  .c-weather-measure {
    .weather-icon {
      color: $color-morning-25;
    }
    &__value-smaller {
      color: $color-morning-25;
    }
  }
}

.c-weather--afternoon {
  color: $color-afternoon-20;
  background: $gradient-afternoon;

  .c-temperature-indicator {
    &__feelslike {
      color: $color-afternoon-25;
    }
  }

  .c-weather-measure {
    .weather-icon {
      color: $color-afternoon-25;
    }
    &__value-smaller {
      color: $color-afternoon-25;
    }
  }
}

.c-weather--night {
  color: $color-night-20;
  background: $gradient-night;

  .c-temperature-indicator {
    &__feelslike {
      color: $color-night-25;
    }
  }

  .c-weather-measure {
    .weather-icon {
      color: $color-night-25;
    }
    &__value-smaller {
      color: $color-night-25;
    }
  }
}
